.loginbox input[type="submit"]
{
	width:20%;
	box-sizing:border-box;
	padding:10px 0;
	margin-top:30px;
	outline:none;
	border:none;
	background:blue;
	opacity:0.7;
	border-radius:20px;
	font-size:20px;
    color:#fff;
 
}
.loginbox input[type="submit"]:hover
{
	
	cursor:pointer;
	background:#39dc79;
	color:#000;
	
}
#t 
{
	width:20%;
	box-sizing:border-box;
	padding:10px 0;
	margin-top:30px;
	outline:none;
	border:none;
	background:blue;
	opacity:0.7;
	border-radius:20px;
	font-size:20px;
    color:#fff;
	cursor:pointer;
 
}
#t:hover
{
	cursor:pointer;
	background:#39dc79;
	color:#000;
}
.menu
{
	width: 600px;
	height:700px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:30px 30px;
}
	